#form-file-upload {
    height: 11rem;
    width: 15rem;
    max-width: 100%;
    text-align: center;
    position: relative;
}

#label-file-upload {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-radius: 1rem;
    /* border-style: dashed; */
    /* border-color: #cbd5e1; */
    background: url("../../../../assets/R.png");
    background-size: cover;
    background-repeat: no-repeat;
}