.arrowright{
    /* margin-left: 4rem; */
    margin: 10% auto 0 5%;
}

.arrowleft{
    /* margin-right: 4rem; */
    margin: 10% 5% 0 auto;
}

.descriptionholder {
    background-image: url("../../../assets/games/base.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;    
    width: 70%; 
    height: 90%;
    margin: 5% auto;
    /* position: relative; */
}

.badgeholder {
    background-image: url("../../../assets/games/box.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin: 1px;
}

.characterholder {
    background-image: url("../../../assets/games/character holder.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 70%;
    width: 70%;
    margin: 8% auto;
    
}

.gamesbgcolor {
    background: #D2EEFF;
    height: 100vh;
}

.badgesize {
    height: 100px;
    width: 100px;
    /* margin: 0px 8px 0px 15px; */
}

.char {
    /* margin: auto; */
    height: auto;
    /* width: 100%; */
}

.titlefontsize {
    font-size: 50px;
}

.subs {
    margin: 15% 12% 0% 13%;    
}



@media only screen and (min-width: 1440px) {
    .gamesdesktopview {
      display: contents;
      
    }
    .gamesmobileview {
      display: contents;
    }

    /* .slick-slide  {
        height: 100%;
        margin: 10% auto 0 auto;
    } */

    .slick-slide > div{
        /* height: 100%; */
        margin: 5% 5% 0 5%;
    }

    .slick-slide > div > div > img{
        display: flex !important;
        height: calc(50vh - 100px);
        margin: 0% auto 0% auto;
    }
    
       
}

@media only screen and (max-width: 425px) {
    .gamesdesktopview {
      display: contents;
      
    }
    .gamesmobileview {
        display: none;
    }
    .badgesize {
        height: 24%;
        width: 24%;
    }

    .slick-slide > div {
        display: grid;
        place-items: center;
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
        font-size: small;
    }

    .descriptionholder {
        /* background-image: url("../../../assets/games/description holder.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;     */
        width: 90%; 
        height: 100%;
        /* margin: 5% auto; */
        /* position: relative; */
    }

    .subs {
        margin: 5% 12% 12% 13%;    
    }
          
}

/* TRBL */

@media (min-width: 426px) and (max-width: 768px) {
    .gamesdesktopview {
      display: contents;
      
    }
    .gamesmobileview {
        display: none;
    }
    .badgesize {
        height: 24%;
        width: 24%;
    }

    .slick-slide > div {
        display: grid;
        place-items: center;
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: medium;
    }

    .descriptionholder {
        /* background-image: url("../../../assets/games/description holder.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;     */
        width: 70%; 
        height: 98%;
        /* margin: 5% auto; */
        /* position: relative; */
    }
    .subs {
        margin: 10% 12% 0% 13%;
    }
          
}

@media (min-width: 769px) and (max-width: 1024px) {
    .gamesdesktopview {
      display: contents;
      
    }
    .gamesmobileview {
        display: none;
    }
    .badgesize {
        height: 24%;
        width: 24%;
    }

    .slick-slide > div {
        display: grid;
        place-items: center;
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: medium;
    }

    .descriptionholder {
        /* background-image: url("../../../assets/games/description holder.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;     */
        width: 70%; 
        height: 94%;
        /* margin: 5% auto; */
        /* position: relative; */
    }
    .subs {
        margin: 10% 12% 0% 13%;
    }
          
}