.arrowright{
    margin-left: 4rem;
}

.arrowleft{
    margin-right: 4rem;
}

.descriptionholder {
    background-image: url("../../../assets/games/description holder.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;    
    width: 70%; 
    height: 90%;
    margin: 5% auto;
    position: relative;
}

.characterholder {
    background-image: url("../../../assets/games/character holder.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
    height: 100%;
    
}

.gamesbgcolor {
    background: #D2EEFF;
    height: 100vh;
}

.badgesize {
    height: 100px;
    width: 100px;
}

.char {
    height:350px;
    margin-top: 7rem;
}

.titlefontsize {
    font-size: 50px;
}

.subs {
    margin-top: 30%;
}
/* @media only screen and (min-width: 1440px) {
    .gamesdesktopview {
      display: contents;
      
    }
    .gamesmobileview {
      display: contents;
    }
    .descriptionholder {
        background-size: 60%;
    }
    .substext {
        justify-self:left;
        align-self: start;
    }     
} */

/* @media only screen and (max-width: 1024px) {
    .gamesdesktopview {
      display: contents;
      
    }
    .gamesmobileview {
        display: none;
    }
    .descriptionholder {
        background-size: 100%;
        height: 500px;
    } 
    .badgesize {
        height: 80px;
        width: 80px;
    }
    .substext {
        justify-self:left;
        align-self: start;
    }       
} */

