.topnavbg {
    position: relative;
    background-image: url('../../assets/header/Banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 145px;
}

.panel-zoom {
  transition: transform 0.2s;
}

.panel-zoom:hover {
  transform: scale(1.1);
}

/* .topnavbg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 108, 81, 0.8); 
    z-index: 1;
} */

.topnavbgcolor {
    /* position: absolute; */
    width: 100%;
    background-color: rgba(28, 21, 16, .8);
    z-index: 2;
}

.topnavbgcolor .text {
    position: relative;    
    z-index: 3; /* Bring the text in front of the background */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    left: 1.5rem;
    padding: 1rem 0;
    margin-top: 0.5rem;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1 !important;
    transition: all ease-in-out 1s;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .custom-dropdown-content ul {
    list-style-position: inside;
    padding: 0;
    max-height: 15rem;
    overflow: auto;
  }
  
  .custom-dropdown-content ul li {
    font-size: 0.85rem;
    font-family: "Poppins", sans-serif;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .custom-dropdown-content ul li:hover {
    background-color: #ddd;
    color: black;
  }

@media only screen and (max-width: 425px ){
  .custom-dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    left: -6.5rem;
    padding: 1rem 0;
    margin-top: 0.5rem;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all ease-in-out 1s;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .custom-dropdown-content ul {
    list-style-position: inside;
    padding: 0;
    max-height: 15rem;
    overflow: auto;
  }
  
  .custom-dropdown-content ul li {
    font-size: 0.85rem;
    font-family: "Poppins", sans-serif;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .custom-dropdown-content ul li:hover {
    background-color: #ddd;
    color: black;
  }
}