.newsbgcolor {
    background: #D2EEFF;
    height: 80vh;
}

#images {
    height: 200px;
    width: 200px;
    margin: 2rem;
    align-self: center;
}

.cards {
    height: 400px;
    width: 400px;
}