.footerbg {
    background-image: url("../../..//assets/BG/FOOTER\ bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 125vh !important;
}

.socials {
    margin-right: 1rem;
}

@media only screen and (max-width: 425px) {
    .socials {
        margin-right: 2px;
    }
    .nav-link {
        padding: 10px !important;
    }      
    .footerbg {
        background-image: url("../../..//assets/BG/FOOTER\ bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh !important;
    }
}

.zoom-socials {
    transition: transform 0.3s ease-in-out;
}

.zoom-socials:hover {
    transform: scale(1.2);
}