.btncolor {
    color: #F09C31;
}

.price {
    color: #FF5722;
}
.card {
    position: relative;
    /* z-index: -1a; */
    overflow-y: visible;
    
}

#badge {
    /* display:inline-block;    */
    position:absolute !important;
    height: 150px;
    width: 150px;
    left: 50%; /* move the element to the center of the parent */
    transform: translateX(-50%);
    top: -10%;
    z-index: 1 !important;
}

.bgcolor {
    background: #D2EEFF;
    background: linear-gradient(to top, #D2EEFF 0%, #FFFFFF 100%);
    min-height: 100vh !important;
}

.cardmargin {
    margin-top: 6rem;
    height: 100% !important;
    width: 100% !important;
}

.titlefontsize {
    font-size: 50px;
}

.subsparent {
    position: relative;
    
    /* z-index: 2; */
    
}

.subsbuttonmobile {
    position: absolute !important;
    right: 0;
    left: 0;
    bottom: 10vw;
    margin: 0 15% 20px;
    display: inherit !important;
}

.subsbutton{
    position: absolute;
    bottom: 0;
    margin-bottom: 5vh;
}
.slick-track {
    display: flex !important;
   
}
.slick-slide{
    display: block !important;
    float:none !important;
    height: auto !important;
    margin-top: 1%;
}

/* .slick-list {
    overflow-y: visible !important;
    
} */

.slick-slide > div {
    height: 100% !important;
    display: inherit !important;
    
    
}
.slick-slide > div > div{
    height: 100% !important;
    
    
}

@media only screen and (min-width: 1187px) {
    .desktopview {
      display: contents;
    }
    .mobileview {
      display: none;
    }
}

@media only screen and (max-width: 1186px) {
    .desktopview {
      display: none;
    }
    .mobileview {
        display: contents;
    }
    #badge {
        /* display:inline-block;    */
        position:absolute !important;
        height: 150px;
        width: 150px;
        left: 50%; /* move the element to the center of the parent */
        transform: translateX(-50%);
        top: -5%;
        z-index: 1 !important;
    }   
}

/* ------------------------------------------------------ */
