ul .list {
    list-style: none; /* Remove default bullets */
  }
  
ul .list::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: aqua; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    margin-left: -1.5em;
    width: 1.5em;
    margin-top: -5%;
}

/*  */
.btncolor {
    color: #F09C31;
}

.price {
    color: #FF5722;
}
.card {
    position: relative;
    /* z-index: -1a; */
    /* overflow-y: visible; */
    height: 100% !important;    
}

.linya {
    border-top: 3px solid #424143 !important;
    border-radius: 5px !important;
}

#badge {
    height: 120px;
    width: 120px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bgcolor {
    background: #D2EEFF;
    background: linear-gradient(to top, #D2EEFF 0%, #FFFFFF 100%);
    min-height: 100vh !important;
}

.cardmargin {
    margin-top: 6rem;
    height: 100% !important;
    width: 100% !important;
}

.titlefontsize {
    font-size: 50px;
}

.subsparent {
    position: relative;
    /* z-index: 2; */
}

.subsbuttonmobile {
    position: absolute !important;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 15% 10px 15%;
    /* display: inherit !important; */
}

.subsbutton{
    position: absolute;
    bottom: 0;
    margin-bottom: 5vh;
}

.slick-track {
    display: flex !important;
    align-items: stretch;
}
  
/* .slick-slide {
    height: inherit !important;
} */

/* .h100 {
    height: 650px !important;   
} */

.slick-slide {
    /* display: block !important; */
    /* float: none !important; */
    height: auto !important;
    margin-top: 1%;
}

.slick-list {
    /* overflow-y: visible !important;     */
    height: 100% !important;
    /* padding: 10%; */
}

.slick-slide > div {
    height: 100% !important;
    font-size: smaller; 
}

/* .slick-slide > div > div {
    height: 100% !important;
} */

/* .slick-slide > div > div > div {
    height: 100% !important;
} */

@media only screen and (min-width: 1187px) {
    .desktopview {
      display: contents;
    }
    .mobileview {
      display: none;
    }
}

@media only screen and (max-width: 1186px) {
    .desktopview {
      display: none;
    }
    .mobileview {
        display: contents;
    }
    #badge {
        height: 120px;
        width: 120px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;       
    }   
}

/* ------------------------------------------------------ */
