.slider {
   height: 100%;
   width: 50%;
   background-image: url("../../../assets/header/activity\ slider\ .png");
   background-position: center center;
   background-size: cover;
   border-radius: 50px;
   position: absolute;  
}

#biglogo {
    width: 600px;
}

#playnow {
    height: 50px;
}

.sliderholder {
    height: 5rem;
    width: 650px;
    background-image: url("../../../assets/header/activity slider holder.png");
    background-position: center center;
    background-size: cover;
    border-radius: 50px;
    position: relative;
    /* margin: 1rem; */
    
}

.text {
    color: white;
    padding-left: 30px;
    font-size: 1.4rem;
    font-weight: 200;
    position: absolute;
    z-index: 1;
    /* text-align: end; */
 }

.kahitanu {
    margin-top: 15vh;
    margin-bottom: 12vh;
}

.progressbar {
    background: #FFBF0F;
    background: linear-gradient(to bottom, #FFBF0F 0%, #FFFFFF 7%, #F19D31 8%, #D07104 90%, #9C4B0C 100%);
    border-radius: 0px;
    height: 42px;
    margin-top: 4px;
}

.innerbar {
    background: #FFFFFF;
    background: linear-gradient(to bottom, #FFFFFF 7%, #40290A 8%, #40290A 50%, #40290A 50%, #40290A 92%, #FFFFFF 92%);
    background-size: 50px;
    border-radius: 50px !important;
    width: 100%;
    /* overflow: hidden; */
}

/* style the progress text */
.progress-text {
    position: absolute;
    top: 72.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    
  }

.stroke {
    /* color: black; */
    -webkit-text-stroke: 1px black;
}

@media only screen and (min-width: 1440px) {
    .progressbar {
        background: #FFBF0F;
        background: linear-gradient(to bottom, #FFBF0F 0%, #FFFFFF 7%, #F19D31 8%, #D07104 90%, #9C4B0C 100%);
        border-radius: 0px;
        height: 42px;
        margin-top: 4px;
    }
    
    .innerbar {
        background: #FFFFFF;
        background: linear-gradient(to bottom, #FFFFFF 7%, #40290A 8%, #40290A 50%, #40290A 50%, #40290A 92%, #FFFFFF 92%);
        background-size: 50px;
        border-radius: 50px !important;
        width: 500px;
        /* overflow: hidden; */
    }
}