.custom-landing-navbar {
    background-image: url("../assets/header/navigation holder.png");
    background-position: top;
    background-size: 100% 80px;
    background-repeat: no-repeat;
    z-index: 1;
    min-height: 80px;
    /* width: 80%; */
  }

  /* .nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  } */

  /* #navholder {
    height: 80px;
    width: 100%;
  } */
  
  /* .custom-link {
    font-size: 1.25rem;
    color: var(--main-text-color);
  }
   */
  /* .custom-border {
    border-bottom: 3px solid transparent;
  } */
  
  /* .custom-active-link {
    border-bottom: #4288f8 3px solid;
    color: #4288f8;
    display: inline-block;
  } */
  
  /* .custom-button-link {
    font-size: 1.25rem;
    color: var(--main-text-color);
    background-image: linear-gradient(var(--btn-bg-top), var(--btn-bg-bottom));
    padding: 0.5rem 3rem;
    box-shadow: 1px 1px 1px var(--btn-shadow-color);
    border-radius: 5rem;
  } */
  
#navlogo {
  height: 50px;
}

#joinnow {
  height: 40px;
}

/* style the navbar links */
.navbar-link {
  color: #fff; /* set the default color */
  text-decoration: none; /* remove the underline */
}

/* add the hover effect */
.navbar-link:hover {
  color: #f0fc02; /* change the color on hover and when active */
  /* background-color: #333;  */
}

.activenavlink {
  color: #f0fc02;
}

.bars {
  color: #FCF4A0 !important;
  z-index: 3;
}

.zoom-playnow {
  transition: transform 0.3s ease-in-out;
}

.zoom-playnow:hover {
  transform: scale(1.1);
}