.bg-botbase {
    background-image: url("../../../../assets/Ingame/assetsdashboard/bot base.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-topbase {
    background-image: url("../../../../assets/Ingame/assetsdashboard/top\ base.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-bottabhead {
    background-image: url("../../../../assets/Ingame/assetsdashboard/tab\ holder1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bg-commi {
    background-image: url("../../../../assets/Ingame/assetsnetwork/total\ commission\ TAB.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.corner-image {
    position: absolute;
    top: -20%;
    left: 10%;
    /* Adjust the size as needed */
    width: 50px;
    height: 50px;
}

.network-nav-pills .network-nav-link.active, .network-nav-pills .show>.network-nav-link {
    color: #000000 !important;
    background-color: #DBB6A2 !important;
}

.network-nav-pills .network-nav-link{
    color: rgba(0, 0, 0, 0.55) !important;
    background-color: #FCF2E1 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    text-transform: capitalize !important;
}

